body {
    max-width: 800px;
    margin: 0 auto;
    background-color: moccasin;
  }

  .sender-column {
    text-align: right;
  }
  .sender-column strong {
    color: black;
  }

  h1 {
    font-size: 1.5em;
    color: blueviolet;
  }

  h2 {
    font-size: 1.3em;
    color: green;
  }
  h3 {
    font-size: 1.3em;
    color: chocolate;
  }

  p,ul,ol,dl,address {
    font-size: 1.1em;
  }

  p, li, dd, dt, address {
    line-height: 1.5;
  }
  .center-img {
    display: block;
    margin: 0 auto;
}
